@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f6f1;
    --foreground: #3d2c13;
    --primary: #bfa76a;
    --primary-foreground: #ffffff;
    --secondary: #f5ecd7;
    --accent: #e6cfa7;
    --muted: #f1f1f1;
    --muted-foreground: #737373;
    --border: #e5e5e5;
  }

  .dark{
    --background: #23211a;
    --foreground: #f5ecd7;
    --primary: #e6cfa7;
    --primary-foreground: #1a1a1a;
    --secondary: #3d2c13;
    --accent: #bfa76a;
    --muted: #2a2a2a;
    --muted-foreground: #a3a3a3;
    --border: #404040;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  @apply mx-auto px-4 max-w-7xl;
}